.search {
    width: 100%;
}

.search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid skyblue;
    border-radius: 4px;
}

.search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right:16px;
    padding: 0 15px;
    border: none;
    background: none;
    color:skyblue;
    border-radius: 0 2px 2px 0;
}
.search button:hover {
    background: skyblue;
    color: #ffffff;
}

#books {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #books td, #books th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* #books tr:nth-child(even){background-color: #f2f2f2;} */
  
  /* #books tr:hover {background-color: #ddd;} */
  
  #books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }