<div class="container">
  

    <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
    <!-- <router-outlet></router-outlet> -->
    
  
  <h2 class="text-center">
    Add products form
  </h2>

  <h2> {{addProductForm.value|json}}</h2> 
   <form [formGroup]="addProductForm">

    <div class="form-group">
      <label >object id</label>
      <input  type="text"  disabled class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >title</label>
      <input type="text" formControlName="title" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >isbn</label>
      <input type="text" formControlName="isbn" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >page count</label>
      <input type="number" formControlName="pageCount" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >publishedDate</label>
      <input type="date" formControlName="publishedDate" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >thumbnailUrl</label>
      <input type="text" formControlName="thumbnailurl" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >shortDescription
      </label>
      <input type="text" formControlName="shortDescription" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >longDescription
      </label>
      <input type="text" formControlName="longDescription" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >status</label>
      <input type="text" formControlName="status" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >authors</label>
      <input type="text" formControlName="authors" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >categories</label>
      <input type="text" formControlName="categories" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >price</label>
      <input type="number" formControlName="price" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >currency</label>
      <input type="text" formControlName="currency" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >discount</label>
      <input type="text" formControlName="discount" class="form-control"  >
      
    </div>

    <div class="form-group">
      <label >discount units</label>
      <input type="text" disabled class="form-control" value="percent" >
      
    </div>
    <button class="btn btn-primary mr-1" (click)="showvalue()">Add data</button>
  </form>
</div>

