<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h2>Categories</h2>
                    <dl>
                        <dd><a routerLink="categories/Angular">Angular</a></dd>
                        <dd><a routerLink="categories/Data Science">Data Science</a></dd>
                        <dd><a routerLink="categories/JavaScript">JavaScript</a></dd>
                        <dd><a routerLink="categories/Programming">Programming</a></dd>
                        <dd><a routerLink="categories/Software Engineering">Software Engineering</a></dd>
                        <dd><a routerLink="categories/Web Development">Web Development</a></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h2>Get in Touch</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>123 Book Store, Delhi, India</p>
                        <p><i class="fa fa-envelope"></i>email@mail.com</p>
                        <p><i class="fa fa-phone"></i>+91-1234567890</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h2>Follow Us</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            <a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
</div>
<!-- Footer End -->
<div class="footer-bottom">
    <div class="copyright">
        <p>Copyright &copy;. All Rights Reserved</p>
    </div>
</div>
