<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/home'>
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink='/deals'>
        <i class="material-icons">local_offer</i>
        New Offer
      </a>
      <a mat-list-item routerLink="/notification">
        <i class="material-icons">notifications</i>
        Notification
      </a>
   <!--   <a mat-list-item href="#">
        <i class="material-icons">account_circle</i>
        Your Account
      </a>  -->
      <a mat-list-item routerLink='/edit_info'>
        <i class="material-icons">edit</i>
        Personal Detail
      </a>
      <a mat-list-item href="#">
        <i class="material-icons">exit_to_app</i>
        Logout
      </a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </app-header>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
